{% extends 'copo/base.html' %}

{% block content_area %}
    <div class="container">

        <div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9 copo-main">
                {% block browse_header_block %}
                {% endblock %}
                <div class="global-page-title">
                    {% block page_tile %}
                    {% endblock page_tile %}
                </div>
                {% block content %}
                {% endblock content %}
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 copo-sidebar">
                         {% block help_section %}
                        {% endblock help_section %}
                        {% block component_info %}
                        {% endblock component_info %}
                     {% block sidebar_custom_section %}
                    {% endblock sidebar_custom_section %}
             </div>
        </div>
        <button id="toggleSidebarInfoBtn" class="btn btn-sm btn-default toggle-sidebar-info-btn" title="Show/hide info panel">
            <i class="fa fa-info-circle"></i> <i class="fa fa-chevron-left toggle-sidebar-arrow"></i>
        </button>
    </div>
{% endblock content_area %}
