<div class="row legend-and-sort-row">
  <div class="col-lg-6 col-md-8">
    <div class="component-legend" data-tour-id="component_legend" data-legend="data_status">
      <div class="component-legend-header collapsed"
           data-toggle="collapse"
           data-target="#dataStatusCollapse"
           aria-expanded="false"
           aria-controls="dataStatusCollapse">
        <span class="component-legend-title">Data status</span>
        <i class="fa fa-chevron-down component-legend-chevron"></i>
      </div>
      <div id="dataStatusCollapse" class="collapse">
        <ul class="component-legend-group">
          <li class="component-legend-group-item">
            <span class="fa fa-circle component-legend-circle" style="color:#ffd700"></span>
            <span class="component-legend-text">Pending submission</span>
          </li>
          <li class="component-legend-group-item">
            <span class="fa fa-circle component-legend-circle" style="color:#f88080"></span>
            <span class="component-legend-text">Error during submission</span>
          </li>
          <li class="component-legend-group-item">
            <span class="fa fa-circle component-legend-circle" style="color:#d9e8d9"></span>
            <span class="component-legend-text">Successful submission</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
